<component name="ArtifactManager">
  <artifact type="war" name="SpringLearning:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-learning.war">
      <element id="artifact" artifact-name="SpringLearning:war exploded" />
    </root>
  </artifact>
</component>